
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/libs/angular.js"></script>
    <script src="js/newapp.js"></script>
  </head>
  <body ng-app="appList" ng-controller="AppListCtrl">
 
   <ul>
    <li ng-repeat="app in apps">
		{{app.name}}
    </li>
  </ul>
  <p>1 + 2 = {{ 1 + 2 }}</p>

   <h1>应用列表</h1>

<div class="container" >
	<div class="row">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>
							应用名称
						</th>
						<th>
							类型
						</th>
						<th>
							创建时间
						</th>
						<th>
							状态
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
      	            <tr ng-repeat="app in apps">
						<td>
							 {{app.name}}
						</td>
						<td>
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
						<td>
						</td>
					</tr>
					<tr>
						<td>
							TB - Monthly
						</td>
						<td>
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
						<td>
						</td>
					</tr>
					<tr class="success">
						<td>
							TB - Monthly
						</td>
						<td>
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
						<td>
						</td>
					</tr>
					<tr class="error">
						<td>
							TB - Monthly
						</td>
						<td>
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
						<td>
						</td>
					</tr>
					<tr class="warning">
						<td>
							TB - Monthly
						</td>
						<td>
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
						<td>
						</td>
					</tr>
					<tr class="info">
						<td>
							TB - Monthly
						</td>
						<td>
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
						<td>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




  </body>
</html>